.heading {
  margin-top: 50px;
}

.heading > h1 {
  text-transform: capitalize;
  font-size: 3vh;
  padding: 10px;
}

.heading > span {
  display: block;
  font-size: 2vh;
  font-weight: 200;
}


@media screen and (max-width: 680px) {
  .heading > span {
    padding: 10px;
    font-weight: 400;
  }
}