.heading {
  margin-top: 3vh;
}

.heading > h1 {
  text-transform: capitalize;
  font-size: 40px;
  padding: 1vh;
}

.heading > span {
  display: block;
  font-size: 20px;
  font-weight: 200;
}


@media screen and (max-width: 650px) {
  .heading {
    margin-top: 1vh;
  }
  
  .heading > span {
    padding: 3vw;
    font-weight: 400;
    font-size:20px;
  }
  .heading > h1{
    font-size: 25px;
    padding: 4px;
  }
}