.heading {
  margin-top: 3vh;
}

.heading > h1 {
  text-transform: capitalize;
  font-size: 4vh;
  padding: 10px;
}

.heading > span {
  display: block;
  font-size: 2vw;
  font-weight: 200;
}


@media screen and (max-width: 680px) {
  .heading > span {
    padding: 10px;
    font-weight: 400;
    font-size: 5vw;
  }
  .heading > h1{
    font-size: 10vw;
  }
}